<h1><%=  t(:titulo, :scope => [:encuesta]) %></h1>

<div id="encuesta">
  <% form_for(@profile, :url => profile_path) do |f| %>
    <%= f.error_messages %>

    <h3><%=  t(:titulo, :scope => [:encuesta, :ciudad]) %></h3>
    <p class="info">Indique la localidad en la que se encuentra su vivienda:</p>
    <h3>Mi ciudad</h3>
    <p class="info">Indique la provincia y municipio en los que se encuentra su vivienda:</p>
    <p>
      <%= f.label '' %>
      <%= select :profile, :provincia_id, Provincia.all.collect {|p| [ p.name, p.id ] }  %>
    </p>
    <p>
      <%= f.label '' %>
      <%= select :profile, :municipio_id, [] %>
    </p>

    <%= render :partial => 'edit_edificio_vivienda', :locals => {:f => f} %>
    <%= render :partial => 'edit_edificio_equipamiento', :locals => {:f => f} %>
  

    <br/>
    <h3>Mis costumbres</h3>
    <p class="info">Número de personas que habitan la vivienda:</p>
    <p><label>&nbsp;</label><%= f.text_field :costumbres_personas %></p>

    <p class="info">Número de horas que la vivienda está ocupada en días laborables:</p>
    <p><label>&nbsp;</label><%= f.text_field :costumbres_horas %></p>
    <br/>

    <h3>Mi opinión</h3>
    <p class="info">¿Quiere añadir algun detalle relevante relacionado con el consumo energético de su vivienda?</p>
    <p><label>&nbsp;</label><%= f.text_area :opinion %></p>
    <br/>

    <br/>
    >>>>>>> 87ac155db6dd6ed76df4f340eac1877117486f95:app/views/profiles/edit.html.erb
    <p>
      <label>&nbsp;</label>
      <%= f.submit 'Guardar' %>
    </p>
  <% end %>
</div>
