<h1><%=  t(:titulo, :scope => [:encuesta]) %></h1>

<div id="encuesta">
  <% form_for(@profile, :url => profile_path) do |f| %>
    <%= f.error_messages %>

    <h3><%=  t(:titulo, :scope => [:encuesta, :ciudad]) %></h3>
    <p class="info"><%=  t(:localidad, :scope => [:encuesta, :ciudad]) %></p>
    <p>
      <%= f.label '' %>
      <%= select :profile, :provincia_id, Provincia.all.collect {|p| [ p.name, p.id ] }  %>
    </p>
    <p>
      <%= f.label '' %>
      <%= select :profile, :municipio_id, [] %>
    </p>

    <%= render :partial => 'edit_edificio_vivienda', :locals => {:f => f} %>
    <%= render :partial => 'edit_edificio_equipamiento', :locals => {:f => f} %>
  

    <br/>
    <h3>Mis costumbres</h3>
    <p class="info"><%=  t(:personas, :scope => [:encuesta, :costumbres]) %></p>
    <p><label>&nbsp;</label><%= f.text_field :costumbres_personas %></p>

    <p class="info"><%=  t(:horas, :scope => [:encuesta, :costumbres]) %></p>
    <p><label>&nbsp;</label><%= f.text_field :costumbres_horas %></p>
    <br/>

    <h3>Mi opinión</h3>
    <p class="info"><%=  t(:opina, :scope => [:encuesta, :opinion]) %></p>
    <p><label>&nbsp;</label><%= f.text_area :opinion %></p>
    <br/>
    <p>
      <label>&nbsp;</label>
      <%= f.submit 'Guardar' %>
    </p>
  <% end %>
</div>
