<h1><%=  t(:titulo, :scope => [:encuesta]) %></h1>

<% form_for(@profile, :url => profile_path) do |f| %>
  <%= f.error_messages %>

  <h3><%=  t(:titulo, :scope => [:encuesta, :ciudad]) %></h3>
  <p class="info">Indique la localidad en la que se encuentra su vivienda:</p>
  <p>
    <%= f.label 'Provincia' %>
    <%= select :profile, :provincia_id, Provincia.all.collect {|p| [ p.name, p.id ] }  %>
  </p>
  <p>
    <%= f.label 'Municipio' %>
    <%= select :profile, :municipio_id, [] %>
  </p>

  <%= render :partial => 'edit_edificio_vivienda', :locals => {:f => f} %>
  <%= render :partial => 'edit_edificio_equipamiento', :locals => {:f => f} %>


  <br/>
  <p>
    <label>&nbsp;</label>
    <%= f.submit 'Guardar' %>
  </p>
<% end %>

