<h1>Encuesta sobre el consumo energético de su edificio</h1>

<div class="help">
  <p>Este es un ejemplo de cómo podría ser la encuesta para obtener datos sobre el usuario, la vivienda, su uso, etcétera.</p>
  <p>De momento esto es sólo un prototipo y por lo tanto no es funcional.</p>
</div>

<% form_for(@profile, :url => profile_path) do |f| %>
  <%= f.error_messages %>

  <h3>Mi ciudad</h3>
  <p class="info">Indique la localidad en la que se encuentra su vivienda:</p>
  <p>
    <%= f.label 'Provincia' %>
    <%= select :profile, :provincia_id, Provincia.all.collect {|p| [ p.name, p.id ] }  %>
  </p>
  <p>
    <%= f.label 'Municipio' %>
    <%= select :profile, :municipio_id, [] %>
  </p>

  <h3>Mi edificio</h3>
  <p class="info">Indique, si lo conoce, el año de construcción:</p>
  <p>
    <%= f.label 'Año' %>
    <%= f.text_field :edificio_anyo %>
  </p>
  <p class="info">En caso contrario señale el periodo aproximado de constrcción:</p>
  <p><label>&nbsp;</label><%= f.radio_button :edificio_periodo, "before1950" %><span>Anterior a 1950</span></p>
  <p><label>&nbsp;</label><%= f.radio_button :edificio_periodo, "1951to1960" %><span>Entre 1951 y 1960</span></p>
  <p><label>&nbsp;</label><%= f.radio_button :edificio_periodo, "1961to1971" %><span>Entre 1961 y 1971</span></p>
  <p><label>&nbsp;</label><%= f.radio_button :edificio_periodo, "1971to1981" %><span>Entre 1971 y 1981</span></p>
  <p><label>&nbsp;</label><%= f.radio_button :edificio_periodo, "1981after" %><span>Posterior a 1981</span></p>

  <p class="info">Indique si se han producido reformas de los siguientes tipos:</p>
  <p><label>&nbsp;</label><%= check_box_tag :reformas, '' %><span>Mejora en el aislamiento del tejado</span></p>
  <p><label>&nbsp;</label><%= check_box_tag :reformas, '' %><span>Mejora en el aislamiento de las paredes</span></p>
  <p><label>&nbsp;</label><%= check_box_tag :reformas, '' %><span>Instalación de toldos o elementos de sombra</span></p>

  <h3>Instalaciones en el edificio</h3>
  <p class="info">Señale las fuentes de energía utilizadas en su vivienda<br/>
  (puede señalar varias fuentes de energía para una misma instalación):</p>
  <table>
    <tr><td></td><td>Calefacción</td><td>Aire acondicionado</td><td>Agua caliente</td></tr>
    <tr><td>Electricidad</td><td><%= check_box_tag :energy %></td><td><%= check_box_tag :energy %></td><td><%= check_box_tag :energy %></td></tr>
    <tr><td>Gas natural</td><td><%= check_box_tag :energy %></td><td><%= check_box_tag :energy %></td><td><%= check_box_tag :energy %></td></tr>
    <tr><td>Gasóleo C</td><td><%= check_box_tag :energy %></td><td><%= check_box_tag :energy %></td><td><%= check_box_tag :energy %></td></tr>
    <tr><td>Butano/propano</td><td><%= check_box_tag :energy %></td><td><%= check_box_tag :energy %></td><td><%= check_box_tag :energy %></td></tr>
    <tr><td>Energía solar</td><td><%= check_box_tag :energy %></td><td><%= check_box_tag :energy %></td><td><%= check_box_tag :energy %></td></tr>
    <tr><td>Madera</td><td><%= check_box_tag :energy %></td><td><%= check_box_tag :energy %></td><td><%= check_box_tag :energy %></td></tr>
    <tr><td>Otros</td><td><%= check_box_tag :energy %></td><td><%= check_box_tag :energy %></td><td><%= check_box_tag :energy %></td></tr>
  </table>


  <p>
    <label>&nbsp;</label>
    <%= f.submit 'Guardar' %>
  </p>
<% end %>

