<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Wecex - <%= yield(:title) || 'Prototipo' %></title>
    <!-- link rel="icon" href="images/cyl.ico" type="image/x-icon" / -->
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/reset/reset-min.css" />
    <%= stylesheet_link_tag 'wecex.css' %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
  </head>
  <body>
    <div id="page">
      <% if signed_in? %>
        <div id="navigation">
          <div class="sections">
            <%= link_to t(:report), report_path %>
            <%= link_to t(:invoices), invoices_path %>
            <%= link_to t(:profile), profile_path %>
          </div>
          <div class="session">
            <%= link_to t(:close, :scope => [:session]), session_path, :method => 'delete' %>
          </div>
        </div>
      <% end %>
      <div id="head">
        <h1>wecex</h1>
        <p>Wecex es un blah, blah, blah...</p>
      </div>
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
